<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='Style3.css') }}"> 
    </head>
    <body>
        <h1> Top 5 Best Bad Bunny Songs</h1>
        <p> This is where my list would go</p>
        <p> <img src="https://s1.ticketm.net/dam/a/010/aa178e43-b5e8-44aa-bc2b-8c5975412010_1419701_TABLET_LANDSCAPE_LARGE_16_9.jpg" alt="Bad Bunny Picture" width="600" height="400"> </p>
        <Button> Learn More </Button>
        <Button class= "specialButton2"> Back to main page</Button>
</body>
</html> 
