<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='Style2.css') }}"> 
        <!-- important to note, that the location of filename by default, is going to look for things in a 'static' folder -->
    </head>
    <body>
        <h1> Welcome!</h1>
        <button> Click here for more </button>
        <button class="specialButton1"> NO! Click HERE for more</button>
        <p> Add interesting text here</p>
        <p> <img src="https://www.pngmart.com/files/3/Welcome-PNG-Free-Download.png" alt="welcome" width="600" height="400"> </p>
    </body>
</html>